/vendor/
/node_modules/
/.env
/public/hot
/public/build/
/storage/**/*.log
/storage/framework/*
!/storage/framework/cache/
!/storage/framework/sessions/
!/storage/framework/views/
/bootstrap/cache/*.php
/browser-reference-profile/
/research/legacy/
/database/*.sqlite
/phpunit.result.cache
/.phpunit.result.cache
/public/images/*-original.png
/research/.chrome-client-review/
/research/.pdf-extract-tools/node_modules/

/deployment/releases/
/research/.chrome-handover-2026-10-02/
